body{
    margin: 0;
    background-color: rgb(38, 34, 34);
    background-image: url("https://i.pinimg.com/originals/35/ca/38/35ca384239701ceaa06a6f0d9d33299c.gif");
    background-size: 100% auto;
}


#start-btn {
    background-color: darkgoldenrod;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

#restart-btn {
    background-color: darkgoldenrod;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}


#game-box {
background-color: antiquewhite;
width: 600px;
height: 500px;
position: relative;
overflow: hidden;
user-select: none;
background-image: url("../imagenes/fondo.jpg");
background-position: center;
background-size: cover;
}


#game-box *{
    pointer-events: none;
}


#game-screen, #game-over-screen{
    display: none;
}

/*#timer{
    color:greenyellow;
    padding:10px;      ----------> timer css
    font-size: 50px;

}*/
